<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/games.css">
        <title>Badminton Gaming Games</title>
    </head>
    <body>
        <div class="sidebar">
            <a href="/">Home</a>
            <a href="/players">Players</a>
            <a href="#" class="active">Games</a>
            <a href="/results" >Results</a>
            <a href="/news">News</a>
            <%- (ID)? '<a href="/messages">Messages</a>' : '' %>
        </div>
        <div class="head-pic">
            <div class="side-image"></div>
            <div class="main">
                <h1>Badminton Gaming</h1>
            </div>
        </div>
            
        <div class="topnav">
            <% if (ID) { %>  <p>Welcome <%= name %></p> <% } %>
            <a href="/signup">SignUp</a>
            <%- (ID)? '<a href= "/logout" >LogOut</a>' : '<a href= "/login" >LogIn</a>' %>          
            <a href="#">About</a>
        </div>
        <div class="display_gameinfo" >
            <table id= "t01">
                <tr>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Game 1</th>
                    <th>Game 2</th>
                    <th>Game 3</th>
                    <th>Result</th>
                    <th></th>
                </tr>
                <% games.forEach(function(game){ %>
                    <tr>
                        <td><%= game.player1 %></td>
                        <td><%= game.player2 %></td>
                        <td><%= game.date %></td>
                        <td><%= game.location %></td>
                        <% if (((game.player1_id === ID) || (game.player2_id === ID)) && (game.game_details.length === 0)) { %>
                            <form id="result_form" class="form_result" method="post" action="/updateResult">
                                    <td>
                                      <span class="inline">
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player1_score1" value="" placeholder="00"/>
                                      </span>
                                      <span>
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player2_score1" value="" placeholder="00"/>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="inline">
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player1_score2" value="" placeholder="00"/>
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player2_score2" value="" placeholder="00"/>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="inline">
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player1_score3" value="" placeholder="00"/>
                                        <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                                        name="player2_score3" value="" placeholder="00"/>
                                      </span>
                                    </td>
                                    <td>
                                      <span class="inline">
                                        <input type="number" min="0" max="4" step="1" id="n1" pattern="\d+"
                                        name="player1_result" value="" placeholder="00"/>
                                        <input type="number" min="0" max="4" step="1" id="n1" pattern="\d+"
                                         name="player2_result" value="" placeholder="00"/>
                                      </span>
                                    </td>
                                    <td>
                                       <input type="hidden" id="status" name="status" value="finished">
                                       <input type="hidden" id="status" name="gameId" value="<%= game._id %>">
                                       <input type="submit" value="Result"/>
                                    </td>
                            </form>
                        <% } 
                        else if((game.game_details.length !== 0)){ %>  
                           <td><%= game.game_details[0].player1_score1 %>/<%= game.game_details[0].player2_score1 %></td>
                            <td><%= game.game_details[0].player1_score2 %>/<%= game.game_details[0].player2_score2 %></td>
                            <td><%= game.game_details[0].player1_score3 %>/<%= game.game_details[0].player2_score3 %></td>
                            <td><%= game.game_details[0].player1_result %>/<%= game.game_details[0].player2_result %></td>
                         <% } %>
                    </tr>
                <% }) %>
            </table>
        </div>
        <script src="scripts/games.js"></script> 
    </body>
</html>