<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/games.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/gamelist.css">
        <title>Badminton Gaming Games</title>
    </head>
    <body>
        <div class="sidebar">
            <a href="/">Home</a>
            <a href="/players">Players</a>
            <a href="#" class="active">Games</a>
            <a href="/results" >Results</a>
            <a href="/news">News</a>
            <%- (ID)? '<a href="/messages">Messages</a>' : '' %>
        </div>
        <div class="head-pic">
            <div class="side-image"></div>
            <div class="main">
                <h1>Badminton Gaming</h1>
            </div>
        </div>
            
        <div class="topnav">
            <% if (ID) { %>  <p id = "username">Welcome <%= name %></p> <% } %>
            <a href="/signup">SignUp</a>
            <%- (ID)? '<a href= "/logout" >LogOut</a>' : '<a href= "/login" >LogIn</a>' %>          
            <a href="#">About</a>
        </div>
        <div class="display_gameinfo" >
          <% games.forEach(function(game){ %>
              <% if (((game.player1_id === ID) || (game.player2_id === ID)) && (game.game_details.length === 0)) { %>
              <div class="user">
              <ul>
              <li>
              <div class="top">
                  <h4><%= game.player1 %>   vs   <%= game.player2 %></h4>
              </div>
              <div class="bottom">
                  <p>Date  :<span><%= game.date %></span></p>
                  <p>Location  :<span><%= game.location %></span></p>
                  <form id="result_form" class="form_result" method="post" action="/updateResult">
                      <li>
                        <span class="inline">
                          <p>First Game</p>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player1_score1" value="" placeholder="Player1"/>
                        </span>
                        <span>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player2_score1" value="" placeholder="Player2"/>
                        </span>
                      </li>
                      <li>
                        <span class="inline">
                          <p>Second Game</p>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player1_score2" value="" placeholder="Player1"/>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player2_score2" value="" placeholder="Player2"/>
                        </span>
                      </li>
                      <li>
                        <span class="inline">

                          <p>Third Game</p>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player1_score3" value="" placeholder="Player1"/>
                          <input type="number" min="0" max="29" step="1" id="n1" pattern="\d+"
                          name="player2_score3" value="" placeholder="Player2"/>
                        </span>
                      </li>
                      <li>
                        <span class="inline">
                          <p>Result</p>
                          <input type="number" min="0" max="4" step="1" id="n1" pattern="\d+"
                          name="player1_result" value="" placeholder="Player1"/>
                          <input type="number" min="0" max="4" step="1" id="n1" pattern="\d+"
                            name="player2_result" value="" placeholder="Player2"/>
                        </span>
                      </li>
                      <li>
                          <input type="hidden" id="status" name="status" value="finished">
                          <input type="hidden" id="status" name="gameId" value="<%= game._id %>">
                          <div class="sign">
                          <input class="button" type="submit" value="Add Result"/>
                        </div>
                      </li>
                  </form>
              </li>
            </ul>
          </div>
         
          <% } 
          else if((game.game_details.length === 0)) { %>
            <div class="notuser">
            <ul>
              <li>
                  <div class="top">
                      <h4><%= game.player1 %>   vs   <%= game.player2 %></h4>
                  </div>
                  <div class="bottom">
                      <p>Date  :<span><%= game.date %></span></p>
                      <p>Location  :<span><%= game.location %></span></p>
                  </div>
              </li>
            </ul>
          </div>
          <% } %>
      <% }) %>
            </div>
        </div>
        </div>
        <script src="scripts/games.js"></script> 
    </body>
</html>